$white: #ffffff;
$black: #181818;

$gray-01: #ebeaea;
$gray-02: #d6d4d4;
$gray-03: #c5c5c5;
$gray-04: #aeacac;
$gray-05: #979696;
$gray-06: #8f8f8f;
$gray-07: #7e7e7e;
$gray-08: #6b6b6b;
$gray-09: #4d4d4d;
$gray-10: #303030;

$red-01: #fcb0b0;
$red-02: #f88282;
$red-03: #ea5656;
$red-04: #df2424;
$red-05: #d60909;
$red-06: #bd0000;
$red-07: #a61010;
$red-08: #970202;
$red-09: #840c0c;
$red-10: #630101;

$orange-01: #fecc91;
$orange-02: #fdc17b;
$orange-03: #fbb563;
$orange-04: #f6a13c;
$orange-05: #f6a13c;
$orange-06: #ff971e;
$orange-07: #fb9145;
$orange-08: #f68533;
$orange-09: #e96607;
$orange-10: #d4620f;

$yellow-01: #fff59e;
$yellow-02: #f8eb7e;
$yellow-03: #feed56;
$yellow-04: #fce93c;
$yellow-05: #f8e221;
$yellow-06: #edd606;
$yellow-07: #e9d521;
$yellow-08: #e5d114;
$yellow-09: #dec802;
$yellow-10: #c1ae00;

$green-01: #adff87;
$green-02: #7ffd43;
$green-03: #7ffd43;
$green-04: #64f91e;
$green-05: #43eb0c;
$green-06: #53d914;
$green-07: #44c307;
$green-08: #3caf06;
$green-09: #389c08;
$green-10: #287c00;

$blue-01: #9bedff;
$blue-02: #61e3ff;
$blue-03: #1bd4fd;
$blue-04: #09c1ea;
$blue-05: #08b1d7;
$blue-06: #2c80ff;
$blue-07: #0a62e7;
$blue-08: #004fc7;
$blue-09: #0549b0;
$blue-10: #043581;

$purple-01: #cab1ff;
$purple-02: #b295f0;
$purple-03: #a47df8;
$purple-04: #7f49f2;
$purple-05: #6f2cff;
$purple-06: #4e0dd7;
$purple-07: #4e0dd7;
$purple-08: #3a0a9f;
$purple-09: #2b0679;
$purple-10: #210362;

$pink-01: #fda5ff;
$pink-02: #f87cfb;
$pink-03: #f151f4;
$pink-04: #ea10ee;
$pink-05: #d213d6;
$pink-06: #be07c1;
$pink-07: #a40fa7;
$pink-08: #97069a;
$pink-09: #820c85;
$pink-10: #600362;
