menu-item {
    [data-target="menu-item.itemEl"] {
        app-link {
            [data-target="app-link.main"] {
                width: 100%;
                background-color: $black;
                color: $gray-01;
                border-radius: 0;
                padding: 15px 0;
                &:hover {
                    color: $white;
                    background-color: $gray-10;
                }
            }
        }
        &.selected {
            app-link {
                [data-target="app-link.main"] {
                    background-color: $gray-09;
                }
            }
        }
    }
}
