.menu-item {
	&.divider {
		display: block;
		height: 1px;
		width: 80%;
		margin: 1px auto;
		border-bottom: 1px solid $gray-08;
	}
	&.menu-header {
		flex: 1;
		align-self: center;
		text-align: center;
		text-transform: uppercase;
		text-decoration: underline;
		margin: 8px auto;
		font-family: Roboto;
		font-size: 38px !important;
	}
}

[data-target='menu-item.itemEl'] {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas: 'main custom';
	[data-target='app-link.main'] {
		grid-area: main;
		display: flex;
		align-items: center;
		background-color: $black;
		color: $gray-01;
		border-radius: 0;
		padding: 2px 0;
		height: 44px;
		text-align: left;
		padding-left: 80px;
		&:hover {
			color: $white;
			background-color: $gray-10;
		}
	}
	&.selected {
		app-link {
			[data-target='app-link.main'] {
				background-color: $gray-09;
			}
		}
	}
	&.--retract {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	[data-target='menu-item.customButton'] {
		grid-area: custom;
		display: flex;
		width: 10px;
		height: 100%;
		background-color: $blue-09;
		cursor: pointer;
		user-select: none;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		transition: width 0.3s;
		color: transparent;
		* {
			visibility: hidden;
		}
	}
	&:hover {
		[data-target='menu-item.customButton'] {
			grid-area: custom;
			width: 50px;
			transition: color 0.3s step-start;
			color: $white;
			* {
				transition: visibility 0.3s;
			}
			&:hover {
				background-color: $blue-08;
			}
		}
	}
}

@media (max-width: 600px) {
	menu-item {
		[data-target='menu-item.itemEl'] {
			[data-target='menu-item.customButton'] {
				grid-area: custom;
				width: 50px;
				color: $white;
			}
		}
	}
}
