{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "@babel/proposal-object-rest-spread",
        [
            "@babel/proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "core": "./src/core",
                    "common": "./src/common",
                    "components": "./src/components",
                    "pages": "./src/pages",
                    "configs": "./src/configs",
                    "services": "./src/services"
                }
            }
        ]
    ]
}