menu-layout {
    [data-target="menu-layout.appPage"] {
        display: grid;
        width: 100%;
        min-height: 100vh;
        grid-template-columns: 301px auto;
        grid-template-areas: "sidebar content";

        app-menu {
            [data-target="app-menu.sidebar"] {
                grid-area: sidebar;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 301px;
                border-right: 1px solid $gray-08;
                background-color: $black;
            }
        }

        app-slot {
            [data-target="base-layout.content"] {
                grid-area: content;
                margin: 15px;
            }
        }
    }
}
