.loader-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	height: 5px;
	.loader-relative {
		position: relative;
		height: 5px;
		width: 100%;
		overflow: hidden;
		.loader {
			position: absolute;
			top: 0;
			left: -30%;
			height: 5px;
			width: 30%;
			background-color: $blue-09;
			z-index: 2000;
			&.--loading {
				animation: animateBar 2s linear infinite;
			}

			&.--removing {
				width: 100%;
			}
		}
	}
}

.progress .progress-bar {
}
@keyframes animateBar {
	0%,
	100% {
		left: -30%;
	}

	100% {
		left: 100%;
	}
}
